
<button asp-controller="Admin" asp-action="addUser" type="button" class="btn btn-info"> Add new user </button>

<button class="btn btn-info">Users</button>

<button class="btn btn-info">Posts</button>
