@model SEP.Models.DomainModels.Referee

@{
    ViewData["Title"] = "ViewReferee";
}

<h1>ViewReferee</h1>

<h4>Referee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewReferee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RefereeId" />
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institution" class="control-label"></label>
                <input asp-for="Institution" class="form-control" />
                <span asp-validation-for="Institution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell" class="control-label"></label>
                <input asp-for="Cell" class="form-control" />
                <span asp-validation-for="Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <button type="submit" class="btn btn-primary" asp-action="EditReferee">Save Changes</button>
                <button type="submit" class="btn btn-danger" asp-action="DeleteReferee">Delete</button>
            </div>
        </form>
    </div>
</div>

<div class="pt-2">
    <a class="btn btn-primary" asp-action="UpdateStudent">Back</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
