@model SEP.Models.ViewModels.StudentPostViewModel

@{
    ViewData["Title"] = "Job Posts";
}

<h1>Job Posts</h1>
<hr />
@if (Model.ProfileComplete)
{
    @if (Model.Posts.Count() == 0)
    {
        <caption>No Relevant Job Posts Found</caption>
    }
    else
    {
        <table id="postTable" class="table">
            <thead>
                <tr>
                    <th>
                        Job Title
                    </th>
                    <th>
                        Department Name
                    </th>
                    <th>
                        Job Type
                    </th>
                    <th>
                        Part Time Hours
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Hourly Rate
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    }
} else
{
    <caption>Please complete your profile to view job posts.</caption>
}

<div class="pt-3">
    <a class="btn btn-primary" asp-controller="Home" asp-action="StudentHome">Back</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            
            LoadList();
        });

        function LoadList(){
            var postData = [];
            $.ajax({
                type:"GET",
                url:"/Post/GetFilteredJobPosts",
                async: false,
                success: function(data){
                    $.each(data, function(key, value){
                        var detailsBtn = "<a class='btn btn-primary' href='/Post/Details/" + value.postId + "'>Details</a>";
                        var hdn = "<input type='hidden' value="+value.postId +"/>";
                        var action = detailsBtn + hdn;
                        var startDate = new Date(value.startDate);
                        var formattedStartDate = startDate.toDateString();
                        var endDate = new Date(value.endDate);
                        var formattedEndDate = endDate.toDateString();
                        postData.push([value.jobTitle, value.departmentName, value.jobType, value.partTimeHour, formattedStartDate, formattedEndDate, value.hourlyRate, action])
                    });
                },
                failure: function(error){

                }
            });
            $('#postTable').DataTable({
                data: postData
            });
        }
    </script>
}