@{
    ViewData["Title"] = "ApproverHome";
}
<div class="text-center">
    <p>Welcome Approver!</p>
    <a asp-controller="Approver" asp-action="pendingEmployers" class="btn btn-light">Review Pending Employers</a>
    <a asp-controller="Approver" asp-action="pendingPosts" class="btn btn-light">Review Posts</a>
    <button class="btn btn-light" disabled>View Stats</button>
</div>