@{
    ViewData["Title"] = "ApproverHome";
}
<div class="flex-column align-items-center ">
    <div class="pb-2">
        <a asp-controller="Approver" asp-action="pendingEmployers" class="btn btn-light">Review Pending External Employers</a>
    </div>
    <div class="pb-2">
        <button class="btn btn-light">Review Employers</button>
    </div>
    <div class="pb-2">
        <a asp-controller="Approver" asp-action="pendingPosts" class="btn btn-light">Review Posts</a>
    </div>
    <div class="pb-2">
        <button class="btn btn-light">View Stats</button>
    </div>
</div>