@{
    ViewData["Title"] = "Employer Home";
}

<div class="text-center">
    <a asp-controller="Profile" asp-action="UpdateEmployer"></><button type="button" class="btn btn-light">Manage Profile</button></a>
    <button type="button" class="btn btn-light">View Job Posts</button>
</div>
