@{
    ViewData["Title"] = "Employer Home";
}

<div class="text-center">
    <h1>Welcome Recruiter</h1>
    <a asp-controller="Post" asp-action="Index" class="btn btn-light">Manage Posts</a>
    <a asp-controller="Profile" asp-action="UpdateEmployer" class="btn btn-light"></>Manage Profile</a>
</div>
