@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Profile" asp-action="Update"></><button type="button" class="btn btn-light">Manage Profile</button></a>
    <button type="button" class="btn btn-light">Search and Apply</button>
    <button type="button" class="btn btn-light">View Application History</button>
</div>
