@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button type="button" class="btn btn-light">Manage Profile</button>
    <button type="button" class="btn btn-light">Search and Apply</button>
    <button type="button" class="btn btn-light">View Application History</button>

</div>
