@{
    ViewData["Title"] = "Student Home";
}

<div class="text-center">
    <p>Welcome Student!</p>
    <a asp-controller="Student" asp-action="Update" class="btn btn-light">Manage Profile</a>
    <a asp-controller="Post" asp-action="FilteredJobPosts" class="btn btn-light">Search and Apply</a>
    <a asp-controller="JobApplication" asp-action="ApplicationHistory" type="button" class="btn btn-light">View Application History</a>
</div>
