@model SEP.Models.DomainModels.Qualification

@{
    ViewData["Title"] = "Add Qualification";
}

<h1>Add Education</h1>
<hr />
<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form method="post" asp-action="AddQualification">
            <partial name ="_QualificationDetails"/>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        <div class="pt-2">
            <a class="btn btn-primary" href="##" onClick="history.go(-1); return false;">Back</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
