@model SEP.Models.DomainModels.Qualification

@{
    ViewData["Title"] = "Add Qualification";
    Layout = null;
}

<div class="row">
    <div class="align-content-center">
        <form method="post" asp-action="AddQualification" onsubmit="return jQueryAjaxPost(this);" >
            <partial name ="_QualificationDetails"/>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        <div class="pt-2">
            @*make this a close button*@
            <a class="btn btn-primary" asp-action="Update" asp-controller="Student">Back</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
