@{
    ViewData["Title"] = "pendingEmployers";
}



<div>
    <div>
        <table id="table" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Legal Name
                    </th>
                    <th>
                        Trading Name
                    </th>
                    <th>
                        Registration number
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tbody');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getPendingEmployers")',
                dataType: 'json',
                data: {},
                success: function(pendingEmp){
                    $.each(pendingEmp,function(index,item){
                        table.append('<tr><td width="20%">' + item.lastName + " " + item.firstName + '</td><td width="20%">' + item.legalName + '</td>   <td width="20%">' + item.tradingName + '</td> <td width="20%">' + item.regNumber + '</td> <td width="20%">' + item.status + ' <a href="/Approver/approverUpdateEmployer/'+item.id+'" class="btn btn-info btn-sm">Review</a></td> </tr>');
                    });
                }, 
            
            });
        });

    </script>
}
