@model SEP.Models.ViewModels.DepartmentHourlyRateStatViewModel
@inject IJsonHelper Json;
<h1>Stats</h1>
<div class="row">
    <canvas id="myChart"> </canvas>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script >
        //$(document).ready(function() {
        //   $.ajax({
        //       type:'GET',
        //       url: @Url.Action("PostData","Approver"),
        //       dataType: 'json',
        //       success: function(posts){
        //           alert("success");
        //       }
        //   });
        //});

        
        const ctx = document.getElementById('myChart');
        
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Json.Serialize(Model.Departments),
                datasets: [{
                    label: 'Average Hourly Rate',
                    data: @Json.Serialize(Model.HourlyRates),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
}